<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mobile ###formatType###</a>
    </nav>
    <div class="row">
        <div class="card">
            <img src="###imageUrl###" class="card-img-top card-header fit-img" alt="..."  style="object-fit:scale-down"/>
            <div class="card-body">
                <h5 class="card-title">###title###</h5>
                <p class="card-text" style="font-size:###fontSize###px">###detail###</p>
            </div>
        </div>
    </div>
    <footer class="bg-light py-3">
        <div class="container">
            <p class="text-center">Mobile ###formatType###</p>
        </div>
    </footer>
</body>
</html>