<h1>Hello, Team!</h1>
<p>Welcome to the demo application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html'>Clean Architecture</a> for the system architecture</li>
  <li><a href='https://medium.com/dotnet-hub/use-mediatr-in-asp-net-or-asp-net-core-cqrs-and-mediator-in-dotnet-how-to-use-mediatr-cqrs-aspnetcore-5076e2f2880c'>MediatR</a> for CQRS design pattern</li>
  <li><a href='https://automapper.org/'>Automapper</a> for mapping object from one to another</li>
  <li><a href='https://docs.fluentvalidation.net/en/latest/'>FluentValidation</a> for building strongly-typed validation rules</li>
  <li><a href='https://selectpdf.com/community-edition/'>Select PDF</a> for and image creation using HTML string</li>
  <li><a href='https://github.com/dotnet/efcore'>Entity Framework Core with Code First Approach and Migrations</a> for object-database mapping. In other words, it is an ORM(Object-Relational Mapper) Framework for data access in .NET</li>
  <li><a href='javascript:void(0)'>In-Memory / MS SQL SERVER </a> for storing up the data</li>

  <li><i><a href="javascript:void(0)">Please note:</a>Make sure you have an active internet connection. (Just in canse to avoid any failures.)</i></li>
</ul>

<h2>Brief about the Demo.</h2>
<p>This entire application is made up of angular as the front-end and .net core 6 as the backend. The simple idea of this applciation is to show a list of information and on click of a particular list, the entire details are populated on the next screen.</p>
<p>Even though it is a basic application, I have tried to make the application very modern and efficient using all the latest technology inside it and I have given my best to build this application</p>
<p>I understand there would be still some short comings or mistakes or I would have done some wrong implementation. Please don't consider it as my in efficiency.</p>

<p>Click the below button to view the demo page:</p>
<button type="button" class="btn btn-primary"[routerLink]="'/news-list'" >View Demo</button>
